* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 1.5em;
}

body {
    background-color: rgb(242, 247, 247);
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}

.card {
    background-color: rgb(232, 232, 232);
    box-shadow: 0 0 5px rgb(105, 105, 105);
}

.card:hover {
    transform: scale(1.02);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    margin: auto;
    width: 60vw;
    padding-bottom: 5vw;
}

img {
    width: 100%;
}

.project-tile {
    position: relative;
    top: 0;
}

#contact {
    text-align: center;
    padding-bottom: 5vw;
}

@media screen and (max-width: 768px) {
    #grid-container {
        grid-template-columns: 1fr;
    }
}
