* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 1.5em;
}

body {
    background-color: rgb(236, 243, 244);
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}

.card {
    background-color: rgb(232, 232, 232);
    box-shadow: 0 0 5px rgb(105, 105, 105);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

#navbar {
    position: fixed;
    left: 10vw;
    z-index: 1;
    /* color: lightblue; */
}

/* #welcome-section {
    text-align: center;
    margin: 0;
    padding: 0;
} */

#heading {
    /* position: relative; */
    top: 50vh;
    /* color: lightblue; */
    /* background-color: darkblue; */
}
#projects {
    text-align: center;
    /* background-color: darkblue; */
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    margin: auto;
    width: 60vw;
    padding-bottom: 5vw;
}

img {
    width: 100%;
}

.project-tile {
    position: relative;
    top: 0;
    /* color: lightblue; */
}

.project-tile a {
    /* color: lightblue; */
}

#contact {
    text-align: center;
    padding-bottom: 5vw;
    /* background-color: lightblue; */
    /* color: darkblue; */
}

@media screen and (max-width: 768px) {
    #grid-container {
        grid-template-columns: 1fr;
    }
}
